.search-box-root {
  .search-box-results {
    background: white;
    max-height: 0;
    transition: max-height 0s;

    width: 156px;
    overflow-y: auto;

    position: absolute;

    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      border-left: solid 1px darken(lightgrey, 20);
      border-radius: 0 0 5px 0;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      border: solid 1px darken(lightgrey, 20);
      border-right-width: 0;
    }
  }
}

.search-box-root.picking {
  .search-box-results {
    transition: max-height 0.2s;
    max-height: 200px;

    display: block;
    list-style: none;
    padding: 0;
    margin: -1px 0 0;
    border: solid 1px darken(lightgrey, 20);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: darken(lightgrey, 60);

    box-shadow: 0 3px 5px 0 lightgrey;
  }

  .search-box-result {
    border-left: solid 2px transparent;
    padding: 5px 5px 5px 10px;
    margin: 0;
  }

  .search-box-result.hovered {
    cursor: pointer;
    border-left-color: darken(lightgrey, 50);
    color: initial;
  }

  .search-box-empty-item {
    padding: 5px;
  }
}

.search-box-root.search-box-root-loading {
  .search-box-results {
    overflow-y: hidden;
  }
}
