.search-box-term-input {
  padding: 5px;
  min-width: 111px;
  max-width: 111px;
  height: 20px;
  margin-right: 35px;
  border: none;
  border-radius: 5px;
  box-shadow: none !important;
}

.search-box-term-input:focus {
  border: none;
  box-shadow: none !important;
  outline: none;
}

.search-box-term-input-container {
  position: relative;
  border: solid 1px lightgrey;
  border-radius: 5px;
}

.search-box-arrow-up, .search-box-arrow-down {
  position: absolute;
  right: 5px;
}

.search-box-clear {
  position: absolute;
  right: 20px;
}


.search-box-arrow-down {
  display: inline-block;
  top: 5px;
}

.search-box-arrow-up {
  display: none;
  top: 12px;
}

.search-box-clear {
  display: none;
  top: 8px;
}

.search-box-clear:hover {
  cursor: pointer;
}

.search-box-root.picked {
  .search-box-clear {
    display: inline-block;
  }
}

.search-box-root.picking {
  .search-box-term-input-container {
    border: solid 1px darken(lightgrey, 20);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    outline: none;
  }

  .search-box-arrow-down {
    display: none;
  }

  .search-box-arrow-up {
    display: inline-block;
  }
}
